.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;;
}

.text-right {
    text-align: right !important;;
}

.text-justify {
    text-align: justify !important;;
}

md-icon[md-font-icon] {
    font-size: 24px;
}

md-toolbar.md-toolbar-sm .md-toolbar-tools {
    max-height: 32px;
    padding: 6px;
    font-size: 16px;

}

md-toolbar {
    text-align: center;
}

md-card {
    max-width: 300px;
    max-height: 600px;
}

md-list .md-subheader {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-align: left;
}

.form-group {
  /*text-align: center;*/
}

.md-headline {
    text-align: center;
    margin-top: 15px;
}

md-toolbar.md-toolbar-sm {
    min-height: 24px;
}
.md-player-controls .md-button {
    min-width: 44px;
}


#signinButton{

}
