<div class="wavesurfer-container"></div>

<div></div>
<div> {{$ctrl.progress}} </div>
<div>{{$ctrl.currentSong.artist}} - {{$ctrl.currentSong.title}} - {{$ctrl.currentSong.duration}}</div>


<button ng-click="$ctrl.prevSong()">Prev</button>
<button ng-click="$ctrl.skipBackward()"><<</button>
<button ng-click="$ctrl.playPause()">Play</button>
<button ng-click="$ctrl.pause()">Pause</button>
<button ng-click="$ctrl.toggleMute()">Mute</button>
<button ng-click="$ctrl.skipForward()">>></button>
<button ng-click="$ctrl.nextSong()">Next</button>
<h4>Songs!</h4>


<ol>
  <li ng-repeat="song in $ctrl.songs">{{ song.title }} - {{ song.artist }} <button ng-click="$ctrl.playSong(song)">Play</button></li>
</ol>
