

<md-toolbar class="md-toolbar-sm">
  <div class="text-center" class="md-toolbar-tools">
    <h2 style="font-size: 24px;">Upload A Song</h2>
  </div>
</md-toolbar>







<!-- <input type="file" id="song-file-picker"> -->

<div class="song-upload input-field inline">
  <label for="song-file-picker" style="min-width: 49px" class="md-button md-ink-ripple">
      <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
    <input class="" id="song-file-picker" type="file">
  </label>
  <span id="song-file-name"></span>

  <md-button type="button" style="min-width: 49px" ng-click="$ctrl.uploadSongButtonClicked()">
    <md-icon md-font-icon="zmdi zmdi-upload"></md-icon>
  </md-button>
</div>

<p style="text-decoration: underline; padding-left: 10px" id="status">Please select a file</p>



<!-- put onFileInputChanged on $Scope to move to button on media player-->
<!-- Add dialog -->
