<div ng-controller="songsController as songs">

<div style="padding-top: 10px">
  <md-card style="width: 50%; margin: 0 auto;">
  <md-toolbar class="md-toolbar-sm">
    <div class="text-center" class="md-toolbar-tools">
      <h2 style="font-size: 24px;">Songs</h2>
    </div>
  </md-toolbar>

  <md-list layout="column">
    <md-virtual-repeat-container style="height: 250px">
  <md-list-item md-virtual-repeat="song in songs.songList">
    {{song.artist}} - {{song.title}} <span style="pull-right">

      <md-button type="button" style="min-width: 49px" ng-click="songs.deleteSong(song)"><md-icon md-font-icon="zmdi zmdi-delete"></md-icon></md-button></span>
      <md-divider></md-divider>
    </md-list-item>
  </md-virtual-repeat-container>
</md-list>


  <song-upload existing-songs="songs.songList"></song-upload>
</md-card>
</div>
</div>
