<div ng-controller="songsController as songs">
  <md-toolbar class="md-toolbar-sm">
    <div class="text-center" class="md-toolbar-tools">
      <h2 style="font-size: 24px;">Songs</h1>
    </div>
  </md-toolbar>

  <md-list layout="column">
    <md-virtual-repeat-container style="height: 250px">
  <md-list-item md-virtual-repeat="song in songs.songList">
    {{song.artist}} - {{song.title}}

    </md-list-item>
  </md-virtual-repeat-container>
</md-list>

  <h4>Add a new Song</h4>
  <song-upload></song-upload>
</div>
